.bicicleta-interna-bg {
  background-color: var(--cor-11);
  padding: 40px 0;
}

.bicicleta-interna {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.bicicleta-interna-imagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: max-content;
  gap: 20px;
}

.bicicleta-interna-imagens :nth-child(1) {
  grid-column: -1/1;
}

.bicicleta-interna-conteudo > p {
  margin-bottom: 32px;
}

.interna-conteudo-botao {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 40px;
  column-gap: 12px;
  row-gap: 8px;
  align-items: flex-start;
}

.interna-conteudo-botao a {
  grid-row: -1/3;
}

.interna-conteudo-botao span {
  padding: 4px 8px 4px 32px;
  border-radius: 5px;
  background-color: var(--cor-12);
  text-align: start;
  justify-self: start;
  position: relative;
}

.interna-conteudo-botao span:nth-child(even)::before {
  content: "";
  background: url("../../img/icones/entrega.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  left: 8px;
}

.interna-conteudo-botao span:nth-child(odd)::before {
  content: "";
  background: url("../../img/icones/estoque.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  left: 8px;
}

.bicicleta-interna-conteudo h2 {
  text-transform: uppercase;
  margin-bottom: 12px;
}

.interna-conteudo-informacoes {
  padding: 32px;
  background-color: var(--cor-12);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 40px;
}

.interna-conteudo-informacoes img {
  margin-bottom: 4px;
  display: block;
}

.interna-conteudo-informacoes span {
  margin-bottom: 8px;
  display: block;
}

.interna-conteudo-ficha {
  padding: 32px;
  border-radius: 5px;
  background-color: var(--cor-12);
}

.interna-conteudo-ficha > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 5px 0;
  border-bottom: 2px solid var(--cor-11);
}

.interna-conteudo-ficha > li:nth-last-child(1) {
  margin-bottom: 0;
  border: none;
}

@media (max-width: 800px) {
  .bicicleta-interna-bg .titulo p {
    text-transform: uppercase;
  }

  .bicicleta-interna {
    grid-template-columns: 1fr;
  }

  .bicicleta-interna-imagens {
    gap: 12px;
  }
}

@media (max-width: 400px) {
  .bicicleta-interna-conteudo > p {
    font-size: 1rem;
  }

  .interna-conteudo-botao {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .interna-conteudo-informacoes {
    grid-template-columns: 1fr;
  }
}
