.botao {
  padding: 16px 32px;
  text-transform: uppercase;
  color: var(--cor-p5);
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  font: 600 1.125rem/1.33 "Poppins", sans-serif;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    font-size: 1rem;
    padding: 12px 16px;
  }
}
