.footer-bg {
  background-color: var(--cor-12);
  padding-top: 60px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer-conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.footer-conteudo h3 {
  margin-bottom: 20px;
}

.footer-contato {
  width: 40%;
}

.footer-contato ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-redes {
  margin-top: 20px;
  display: flex;
  gap: 32px;
}

.footer-contato ul li:nth-child(even):after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--cor-11);
  display: block;
  margin-top: 16px;
}

.footer-informacoes nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-copy {
  margin-top: 40px;
  width: max-content;
}

.footer a:hover {
  color: var(--cor-0);
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 80px;
  }
  .footer-copy {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .footer-conteudo {
    gap: 80px;
  }

  .footer-contato,
  .footer-informacoes {
    width: 100%;
  }
}
