.introducao-bg {
  background-color: #000000;
}

.introducao {
  color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 0 20px;
  box-shadow: inset 0 -120px white;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-conteudo h1 {
  font-size: 64px;
  line-height: 112%;
  margin-bottom: 32px;
}

.introducao-conteudo span {
  color: #ffbb00;
}

.introducao-conteudo p {
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 20px;
}

.introducao-conteudo a {
  font-size: 18px;
  padding: 16px 32px;
  text-transform: uppercase;
  color: #332200;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  display: inline-block;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 120px; */
}

.introducao-imagem img {
  height: 100%;
  object-fit: cover;
}
