.seguro-vantagens-bg {
  background-color: var(--cor-12);
}

.seguro-vantagens {
  padding-top: 80px;
  padding-bottom: 80px;
}

.seguro-vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  margin: 80px 0;
  gap: 40px;
}

.seguro-vantagens li {
  display: grid;
  gap: 8px;
}

.perguntas-bg {
  background-color: var(--cor-0);
}

.perguntas {
  padding-top: 80px;
  padding-bottom: 80px;
}

.perguntas h3 {
  margin-bottom: 80px;
}

.perguntas dl > div {
  padding: 20px 40px;
}

.perguntas dl > div:nth-child(odd) {
  background-color: var(--cor-1);
}

.perguntas dt {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.perguntas dt::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  display: inline-block;
}

.perguntas dt::after {
  content: "";
  width: 14px;
  height: 6px;
  background: url(../../img/icones/seta-abrir.svg);
  position: absolute;
  right: 20px;
  transition: 0.3s;
}

.perguntas dt:hover::after {
  transform: rotate(180deg);
}

.perguntas dd {
  padding-left: 20px;
  max-width: 80ch;
}

@media (max-width: 800px) {
  .seguro-vantagens {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .perguntas h3 {
    margin-bottom: 40px;
  }
}
