.termos-bg {
  background-color: var(--cor-0);
  padding: 100px 0;
}

.termos {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.termos h2 {
  font-weight: 600;
}

.termos-lista {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.termos-lista ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.termos-lista ul li {
  max-width: 760px;
}

@media (max-width: 800px) {
  .termos-bg {
    background-color: var(--cor-0);
    padding: 48px 0;
  }
}
